build/
obj_dir/
*.vcd
__pycache__/
board/
vivado*.log
vivado*.jou
*.jou
.Xil/
obj_dir_race/
obj_dir_probe/
fpga_race/vivado/
withMext.zip
logs/
obj_dir_fpga/
obj_dir_perf/
obj_dir_ldst/
obj_dir_perfv2/
obj_dir_l0sim/
obj_dir_race_a/
obj_dir_race_b/
obj_dir_race_c/
obj_dir_race2/
